@font-face{
  font-family:A;
  src: url("/public/fonts/Alexandria-Black.ttf")
}

.App {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.Todolistcon{
  
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: rgb(160, 160, 220);
  width: 100%;
  height: 100vh;
  direction: rtl;
}

.iconsButton{
  transition: all 0.2s ease-in !important;
}

.iconsButton:hover{
  background-color: rgb(195, 186, 182) !important;
  box-shadow: 0px 7px 7px rgba(0,0,0,0.4) !important;
  
}

.todoCard{
    transition: all 0.2s ease-in-out !important;

}
.todoCard:hover{
  padding: 10px 0;
  box-shadow: 0px 7px 7px rgba(0,0,0,0.4) !important;

}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
